__pycache__/mode_analysis.cpython-37.pyc
__pycache__/mode_analysis_code_original.cpython-39.pyc
__pycache__/mode_analysis.cpython-39.pyc
__pycache__/mode_analysis_3D.cpython-39.pyc
mode_analysis_code_original_fmm.zip
mode_analysis_code_original_fmm.py
impurity COM fluctuation codes.zip
.gitignore
mode_python_code.zip
Trap_Electrode_COMSOL_Modeling.pdf
__pycache__/mode_analysis_3D.cpython-37.pyc
